.table{
    table{
        width: 100%;
        margin: 0;
        text-align: center;
        vertical-align: middle;
        border: $basicBorder;
        table-layout: fixed;
    }
    
    th, td{
        border: $basicBorder;
    }

    th{
        color: $baseBlueColor;
        border-bottom: 17px solid $baseBlueColor;
        height: 90px;
        text-align: left;
        padding-left: 25px; 
        font-weight: bold;
        font-size: 22px;
    }

    th.time{
        width: 50px;
        text-align: center;
        padding-left: 0; 
        font-size: 16px;
    }

    td{
        height: 57px;   
        font-weight: bold;

        textarea{
            height: 100%;
            width: 100%;
            resize: none;
            text-align: center;
            font-size: 16px;
        }     
    }

    // th.dubai{
    //     background: 
    //     url("../images/dubai.png") 
    //     90%
    //     center 
    //     no-repeat;
    //     background-size: 50px;
    // }
    
    // th.san-francisco{
    //     background: 
    //     url("../images/san francisco.png") 
    //     90% 
    //     center 
    //     no-repeat;
    //     background-size: 70px;
    // }

    // th.paris{
    //     background: 
    //     url("../images/paris.png")
    //     80%
    //     center
    //     no-repeat;
    //     background-size: 35px;
    // }

    // th.vancouver{
    //     background: 
    //     url("../images/vancover.png")
    //     93%
    //     center
    //     no-repeat;
    //     background-size: 65px;
    // }

    // th.sydney{
    //     background: 
    //     url("../images/sidney.png")
    //     92%
    //     center
    //     no-repeat;
    //     background-size: 82px;
    // }

    // th.new-york{
    //     background: 
    //     url("../images/image7.png")
    //     93%
    //     center
    //     no-repeat;
    //     background-size: 75px;
    // }

    // th.london{
    //     background: 
    //     url("../images/london.png")
    //     80%
    //     center
    //     no-repeat;
    //     background-size: 35px;
    // }
}